<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
</head>
<body>
    <h1>{{author.first_name}}{{author.last_name}}</h1>
    <p>ID: {{author.id}}</p>
    <p>Notes:{{author.notes}}</p>
    <p>Books:</p>
    <ul>
    {%for book in book%}
    <li>{{book.title}}</li>
    {%endfor%}

    <form action="/append_author/{{author.id}}" method="post">
        {% csrf_token %}
        <select name="books_author">
            {%for book in books%}
            <option value="{{book.id}}">{{book.title}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Submit">
    </form>
</ul>
</body>
</html>